/* Custom styles for the Coming Soon page */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a; /* Dark grey background */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom right, #0f0f0f, #2b2b2b, #4a4a4a); /* Dark grey/black metallic gradient */
    z-index: -1;
}

.tagline {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    width: 100%;
    white-space: nowrap;
}

.tagline span {
    display: block;
    opacity: 0;
    animation: fadeInOut 10s infinite;
}

.tagline span:nth-child(1) {
    animation-delay: 0s;
}

.tagline span:nth-child(2) {
    animation-delay: 2s;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    40% { opacity: 1; }
    60% { opacity: 0; }
    100% { opacity: 0; }
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px; /* Square corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 30%; /* Smaller and centered */
    max-width: 400px;
    padding: 20px;
    text-align: center;
    z-index: 1;
    position: relative;
}

.content h1.cta {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.content p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    text-align: center; /* Center the text */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.btn-primary {
    background-color: #0000
