/* Custom styles for the Coming Soon page */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.background-grey-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 82%;
    height: 82%;
    background-color: rgba(128, 128, 128, 0.5); /* Translucent grey */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    z-index: -2;
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    background-image: url('https://media.istockphoto.com/id/185114155/photo/day-at-seaside.jpg?s=612x612&w=0&k=20&c=P1u22QbDI3M8cSeK1hg5aFMQKTEyRl4rNCuCnmnbU58=');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 15px; /* Added for rounding edges */
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 50%;
    max-width: 500px;
    padding: 30px;
    text-align: center;
    z-index: 1;
    position: relative;
}

.content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
   


