/* Custom styles for market multiply */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #000f37c2; /* Dark blue background */
    border-bottom: 3px solid #565b5f; /* Blue border */
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff; /* White text for nav items */
}

.navbar-dark .navbar-nav .btn-outline-primary {
    color: #fff; /* White text for buttons */
    border-color: #fff; /* White border for buttons */
}

.navbar-dark .navbar-nav .btn-outline-primary:hover {
    color: #004466; /* Dark blue text on hover */
    background-color: #fff; /* White background on hover */
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.nav-link {
    color: #fff;
    font-weight: 500;
}

.footer {
    background-color: #222;
    color: #ddd;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.jumbotron {
    background-color: rgba(233, 236, 239, 0.8); /* Translucent background */
    border-radius: 0.5rem;
    padding: 60px 30px;
    text-align: center;
    background-image: linear-gradient(
                        rgba(233, 236, 239, 0.8), /* Translucent layer */
                        rgba(233, 236, 239, 0.8)
                      ),
                      url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5c2NyYXBlcnxlbnwwfHwwfHx8MA%3D%3D'); /* Background image */
    background-size: cover;
    color: #000;
}

.jumbotron p {
    font-size: 1.2rem;
}

.intro-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #004466;
}

.intro-text p {
    font-size: 1.5rem;
}

.bio-section {
    display: flex;
    justify-content: space-between; /* Adds space between bio and white space */
    background-color: #f2f2f2;
    padding: 40px 20px;
    color: #555;
    margin-bottom: 30px;
}

.bio-section .bio-content {
    flex-basis: 60%; /* Adjusts the width of the bio content */
    font-size: 1rem; /* Smaller font size */
}

.bio-section .white-space {
    flex-basis: 40%; /* Adjusts the width of the white space */
}


.bio-section h2 {
    font-size: 2rem;
    color: #004466;
}

.bio-section p {
    width: 100%; /* Adjust for mobile layout */
    font-size: 1.2rem;
    text-align: justify;

}
/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-toggler {
        border-color: #fff;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E..."); /* Ensure this is correctly set */
    }
    .navbar-collapse {
        background-color: #004466;
    }
    /* Additional styles for mobile view */
    .nav-item, .nav-link, .btn {
        display: block;
        width: 100%;
        text-align: center;
    }

    
    .bio-section {
        flex-direction: column;
    }

    .bio-section .bio-content,
    .bio-section .white-space {
        flex-basis: 100%;
    }
}
