
/* Custom styles for Market Multiply */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* Custom styles for Market Multiply */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.navbar {
    background-color: #004466;
    border-bottom: 3px solid hwb(211 0% 0%);
}

.navbar-brand {
    font-weight: bold;
    color: #fff;
}

.nav-link {
    color: #fff;
    font-weight: 500;
}

.footer {
    background-color: #222;
    color: #ddd;
    padding: 20px 0;
}

.container {
    padding-top: 30px;
    width: 90%; /* Wider content area */
    max-width: 1200px; /* Maximum width */
    margin: auto;
}

.jumbotron {
    background-color: #e9ecef;
    border-radius: 0.5rem;
    padding: 60px 30px;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2t5c2NyYXBlcnxlbnwwfHwwfHx8MA%3D%3D');
    background-size: cover;
    color: #000;
}

.jumbotron p {
    font-size: 1.2rem;
}

.intro-text h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #004466;
}

.intro-text p {
    font-size: 1.5rem;
}

.bio-section {
    background-color: #f2f2f2;
    padding: 40px 20px;
    color: #555;
}

.bio-section h2 {
    font-size: 2rem;
    color: #004466;
}

.bio-section p {
    font-size: 0.9rem;
}

/* New styles for service layout */
.service-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.service-image {
    flex: 0 0 40%; /* Fixed width for the image */
    max-width: 40%;
    margin-right: 20px;
}

.service-text {
    flex: 1; /* Remaining space for text */
}


/* Responsive Design */
@media (max-width: 768px) {
    .service-section {
        flex-direction: column;
    }
}
