@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2, p, html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #333;
    background-color: #eaeaea; /* Light grey background */
}

header {
    background-color: #1a1a1a; /* Dark header background */
    color: white;
    padding: 40px 0;
    min-height: 20vh; /* Reduced height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 60px;
    font-weight: 700;
}

nav {
    width: 100%;
    background-color: #333; /* Dark navigation bar */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav ul li {
    margin: 0 20px; /* More space between nav items */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    color: #04AA6D; /* Green color for hover effect */
}

main {
    padding: 40px;
    text-align: left; /* Left align for main content */
    background-color: #eaeaea; /* Matching the body background */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    header h1 {
        font-size: 40px; /* Smaller font size for mobile */
    }
}
