<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketMultiply Cookie Notice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/coming_soon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cookieConsent.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>MarketMultiply Cookie Notice</h1>
            <p>This website uses cookies to ensure you get the best experience. By using this website, you agree to our cookie policy.</p>
            <p>For more information, please visit our <a href="#">Privacy Policy</a> page.</p>
        </div>
    </div>
</body>
</html>
