{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">market multiply</h1>
        <p class="lead">Your trusted partner in financial markets and consulting.</p>
        <hr class="my-4">
        <p>Explore our services and gain insights into the financial market.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('services') }}" role="button">Learn More</a>
    </div>
    <div class="bio-section">
        <h2>Scott Van Bolhuis, CFA - Founder and Capital Markets Expert</h2>
        <p> Scott Van Bolhuis, a Chartered Financial Analyst and seasoned founder, has established a formidable reputation in the financial and capital markets, stemming from his influential roles at esteemed institutions like BMO Capital Markets and AIMCo. His profound understanding of market dynamics and strategic finance has been honed through a career marked by significant achievements in equity research, investment analysis, and venture capital.
            
            At BMO Capital Markets and Desjardins Securities, Scott demonstrated exceptional skill in equity research and financial analysis, providing key insights and recommendations across a diverse range of industries. His analytical prowess was further refined at AIMCo, where he was deeply involved in the detailed due diligence of substantial equity and infrastructure transactions.
            
            In his pivotal role at APEX Capital, an early-stage venture capital firm, Scott not only engaged in thorough due diligence and evaluation of investment opportunities but also played a critical role in fundraising activities. His leadership in creating and maintaining the fund model at APEX Capital showcases his ability to combine strategic vision with technical expertise, ensuring the success of venture capital initiatives.
            
            The second core aspect of Scott's professional identity is his technical mastery, particularly in financial modeling and data analysis. Proficient in Python, VBA, SQL, and a suite of sophisticated financial software, Scott's expertise enables him to deliver nuanced, data-centric strategies and solutions. This expertise is complemented by his experience in managing finance initiatives and M&A activities across various sectors, including biotech, oil and gas, mining, sports, media, and technology.
            
            Scott Van Bolhuis is an exemplary figure in the realm of financial consulting, offering a rare blend of strategic insight, technical skill, and practical experience. His background in leading financial institutions and his commitment to leveraging technology for innovative solutions make him an invaluable asset to organizations seeking expert guidance in financial and capital markets..</p>
    </div>
</div>
{% endblock %}
