{% extends 'base.html' %}

{% block title %}Home - Market Multiply{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Market Multiply</h1>
    <p class="lead">Innovative financial solutions at your fingertips.</p>
    <hr class="my-4">
    <p>Explore our services and insights.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <!-- Card Content -->
            </div>
        </div>
        <!-- More cards or content columns -->
    </div>
</div>
{% endblock %}

